body{
    background:#F9F9F9 ;
}

.card-block{
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.opacity{
    opacity: 0.5;
}

.alert-fixed span:hover{
    opacity: 0.6;
}
.alert-fixed span{
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}
.alert-fixed{
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    padding: 10px 15px;
    right: 0;
    bottom: 0; 
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: right;
}